#navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: 20px;
	word-spacing: 18px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
	font-size: larger;
}

a {
	color: crimson;
	text-decoration: none;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;

  }
  
  .btn {
	padding: 0 20px;
	height: 40px;
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
	border: 3px black solid;
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
	margin: 20px;
	display: flex;
  }
  
  .grid {
	display: flex;
  }
  
